*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(59, 6, 183);
    color: white;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color:rgb(72, 47, 132) ;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
.left{
    font-size: 1.4rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}
.firstSection div{
    width: 30%; 
}